body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

.app {
  position: relative;
  width: 400px;
  height: 500px;

  /* Move background from body to here */
  background-image: url(assets/Rectangle\ 2.png), url(assets/Rectangle\ 1.png);
  background-size:  200px, cover;
  background-position: 4% 4%, center;
  background-repeat: no-repeat, no-repeat;
}

button,
input,
textarea,
select {
  -webkit-app-region: no-drag;
  cursor: pointer;
}
.title{
  position: absolute;
  top: 134px;
  left: 85px;
  transform: translateX(-50%); /* centers horizontally */

  font-family: "VT323", monospace;
  font-size: 25px;

}

#calendar{
  position: absolute;
  top: 47px;
  left: 105px;
  transform: translateX(-50%);

  text-align: center;   /* centers the text inside */

  font-family: "VT323", monospace;
  font-size: 40px;
}

/*
<uniquifier>
weight: use a value from 200-900
*/
.source-code-pro-{
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-weight: 250;
  font-style: normal;
}

.deco {
  position: absolute;
  pointer-events: none; 
} 

.button1 { 
  position: absolute;
  top: 175px; 
  left: 165px; 
  width: 28px; 
}

.button2 { 
  position: absolute;
  top:145px; 
  left: 152px; 
  width: 32px; 
}
.button3 { 
  position: absolute;
  top:164px; 
  left: 130px; 
  width: 33px; 
}

.bmoSmile { 
  position: absolute;
  top:35px; 
  left: 30px; 
  width: 150px; 
}

.star { 
  position: absolute;
  top:169px; 
  left: 14px; 
  width: 50px;
}

